
.Parentdiv{
    display: flex;
    justify-content: space-around;
    background-color: aqua;
    color: black;
    
}

.Parentdiv h1{
    border: 2px solid gray;
    padding: 10px 10px ;
    background-color: rgba(255, 255, 255, 0.555);
}

.ParentCounter {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

 .active {
    background-color: green;
    color: white;
    padding: 10px 20px;
 }

 .not-active {
    background-color: red;
    color: white;
    padding: 10px 20px;
 }

 .RegisterParent  {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid red;
    width : 50%;
    margin: auto;
    margin-top: 100px;
    padding: 50px 10px ;
    background-color: blanchedalmond;
    
 }
 
 form{
    line-height: 30px;
 }

 .ParentReducer  {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 40%;
   margin: auto;
   margin-top: 200px;
   height: 200px;
   border-radius: 30px;
   background-color: aquamarine;
  flex-direction: column;
   
 }

 .ParentReducer button{
   background-color: rgb(46, 92, 77);
   color: aliceblue;
   padding: 20px;
   margin: 10px;

 }

 .ParentHome {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 40%;
   margin: auto;
   margin-top: 200px;
   height: 300px;
   border-radius: 30px;
   background-color: aquamarine;
  flex-direction: column;
   
 }

 .ParentHome button{
   background-color: rgb(46, 92, 77);
   color: aliceblue;
   padding: 20px;
   margin: 10px;

 }

 .light {
   background-color: aliceblue;
   color: black;
 }

 .dark {
   background-color: black;
   color: white;
 }

 .Parentmemo {
  display: flex;
   justify-content: center;
   align-items: center;
   width: 40%;
   margin: auto;
   margin-top: 200px;
   height: 300px;
   border-radius: 30px;
   background-color: aquamarine;
  flex-direction: column;
 }